<app-main-filters></app-main-filters>

<!-- @if(videoGames$ | async; as videoGameList) {
    <app-table-games 
        title="Liste de mes jeux vidéos" 
        [items]="videoGameList"
        (toCreate)="prepareCreation()"
        (toCancel)="cancelCreation()">
    </app-table-games>
} -->

@if(videoGames$$(); as videoGameList) {
    <app-table-games 
            title="Liste de mes jeux vidéos" 
            [items]="videoGameList"
            (toCreate)="prepareCreation()"
            (toCancel)="cancelCreation()">
        </app-table-games>
}

@if(readyToCreate())
{
    <app-create-video-game></app-create-video-game>
}